.ui--Labelled-content {

  .ui.input.ui--Input {

    input {
      width: 100%;
      height: 40px;
      border: 1px solid var(--border-bottom);
      box-sizing: border-box;
      border-radius: calc(var(--gap) / 4);

      color: var(--input-text-color);
      background: var(--input-background-color);
      padding: calc(var(--gap) / 2) var(--gap);
      font-size: 16px;

      &::-webkit-input-placeholder {
        color:rgba(191,191,191,.87)
      }

      &::-moz-placeholder {
        color:rgba(191,191,191,.87)
      }

      &:-ms-input-placeholder {
        color:rgba(191,191,191,.87)
      }

      &:active {
        background: var(--input-background-color);
        border: 1px solid var(--placeholder-color);
        outline: none;
      }

      &:focus {
        background: var(--input-background-color);
        border: 1px solid var(--placeholder-color);
        outline: none;
      }

      &:active, &:focus {
        &::-webkit-input-placeholder {
          color: rgba(115, 115, 115, 0.87);
        }

        &::-moz-placeholder {
          color: rgba(115, 115, 115, 0.87);
        }

        &:-ms-input-placeholder {
          color: rgba(115, 115, 115, 0.87);
        }
      }

      &:disabled {
        border: 1px solid var(--border-bottom);
        color: var(--tabs-color);
        background: var(--input-background-disabled-color);
        opacity: 1;
      }
    }
  }
}
/*
.ui.input.focus > input::-webkit-input-placeholder,
.ui.input > input:focus::-webkit-input-placeholder {
  color: rgba(115, 115, 115, 0.87);
}
.ui.input.focus > input::-moz-placeholder,
.ui.input > input:focus::-moz-placeholder {
  color: rgba(115, 115, 115, 0.87);
}
.ui.input.focus > input:-ms-input-placeholder,
.ui.input > input:focus:-ms-input-placeholder {
  color: rgba(115, 115, 115, 0.87);
}
 */
