.main-information{
  background-color: var(--white-color);
  padding:  calc(var(--gap) * 2);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: calc(var(--gap) / 4);
  font-family: var(--font-roboto);

  .header-text{
    font-family: var(--font-inter);
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
  }

  .info-block{
    margin-top: calc(var(--gap) * 2);

    h2{
      color: var(--title-color);
      font-family: var(--font-roboto);
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 4px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      font-family: var(--font-roboto);
      color: var(--tabs-color);
      margin-bottom: var(--gap);
    }
  }
}

@media (max-width: 768px) {
  .main-information{
    box-shadow: none;
    padding: var(--gap);
  }
}

@media (max-width: 320px) {
  .main-information{
    box-shadow: none;
    padding: var(--gap);
  }
}
