.warning-text {
  display: flex;
  background-color: var(--modal-warning-background-color);
  color: var(--modal-warning-text-color);
  align-items: center;
  padding: calc(var(--gap) / 2);
  border-radius: calc(var(--gap) / 4);
  margin: calc(var(--gap) / 4 * 10) 0 calc(var(--gap) / 2 * 3);

  img {
    margin: 0 calc(var(--gap) / 2) ;
  }

  p {
    color: var(--modal-warning-text-color);
    font-family: var(--font-roboto);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
  }
}

@media (max-width: 1023px){
  .warning-text {
    margin: calc(var(--gap) * 2) 0 calc(var(--gap) / 2 * 3);
  }
}
