button{
  padding: 10px 35px;
  color: var(--white-color);
  background-color: var(--create-button-color) ;
  border: none;
  border-radius: 4px;
  font-family: var(--font-roboto);
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;

}

.disable{
  background: var(--input-background-disabled-color);
  border: 1px solid var(--button-background-disabled-border);
  box-sizing: border-box;
  color: var(--button-background-disabled);
  padding: 8px 24px;
}
