.enum-input {
  border: 1px solid var(--border-bottom);
  background: var(--input-background-color);
  border-radius: calc(var(--gap) / 4);
  width: 100%;
  padding: 4px 8px;
  font-family: var(--font-roboto) var(--font-mono);

  &.disabled {
    background: var(--enum-input-background-disabled-color);
    border: 1px solid var(--enum-input-border-disabled-color);

    .enum-input--content {
      background: var(--enum-input-background-disabled-color);

      input.enum-input--input {
        background: var(--enum-input-background-disabled-color) !important;
      }
    }
  }

  .enum-input--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-gap: 4px;

    &--elements {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
    }
  }

  .enum-input--item {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    background-color: var(--link-color);
    border-radius: 8px;
    color: white;
    grid-column-gap: 8px;
    line-height: 16px;
    white-space: nowrap;

    img {
      width: 12px;
      height: 12px;
      cursor: pointer;
      display: block !important;
    }
  }

  input.enum-input--input {
    border: none !important;
    width: 100%;
    background: var(--input-background-color) !important;
    min-width: 100px;
    line-height: 20px !important;

    &:active, &:hover, &:focus {
      outline: none;
    }
  }
}
