.collection-page {
  .page-main {
    display: grid;
    grid-template-columns: 1fr 450px;
    grid-column-gap: calc(var(--gap) * 2);
    grid-row-gap: calc(var(--gap) * 2);

    .main-section {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .preview-cards {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .preview-btn {
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      padding: calc(var(--gap) / 2) calc((var(--gap) / 2) * 3);
      background-color: var(--white-color);
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      box-shadow: 0 -8px 12px rgba(0, 0, 0, 0.06);
    }
  }
}

@media (max-width: 1279px) {
  .collection-page {
    .page-main {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 1023px) {
  .collection-page {
    .page-main {
      .hidden {
        display: none !important;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .collection-page {
    .page-main {
      max-width: 992px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .app-main {
    .app-container {
      padding: 0 var(--gap);
    }
  }
}

@media (max-width: 767px) {
  .collection-page {
    .main-section {
      width: 100%;
      .page-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
