.create-nft {
  background-color: var(--white-color);
  padding: calc(var(--gap) * 2);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: calc(var(--gap) / 4);
  font-family: var(--font-roboto);

  .header-text {
    font-family: var(--font-inter);
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 24px;
  }

  h2 {
    color: var(--title-color);
    font-family: var(--font-roboto);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    font-family: var(--font-roboto);
    color: var(--tabs-color);
    margin: 0;
  }

  .avatar{
    display: flex;
    gap: calc(var(--gap) / 2);
    margin: 24px 0 48px;

    .avatar-img{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 176px;
      height: 176px;
      border: 1px dashed var(--button-color);
      border-radius: calc(var(--gap) / 4);
      padding: calc(var(--gap) / 2);
      border-radius: calc(var(--gap) / 4);
      cursor: pointer;

      &:hover{
        background: var(--button-background-hover);
      }

      input{
        opacity: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      .token-img{
        max-width: 160px;
        max-height: 160px;
        border-radius: calc(var(--gap) / 4);
      }
    }

    .clear-btn{
      cursor: pointer;
    }
  }

  .attributes{
    display: flex;
    flex-direction: column;
    gap: 32px ;

    .attributes-input{

      h2{
        margin-bottom: var(--gap);
      }

      .ui.selection.dropdown {
        border: 1px solid var(--border-bottom);
        height: 40px;
        min-height: unset;
        min-width: 50px;
        padding: calc(var(--gap) / 2) var(--gap);

        .text {
          height: 100%;
          color: var(--input-text-color);
          line-height: 22px;
          font-size: 16px;
        }

        .menu {
          border-color: var(--border-bottom);
        }

        .menu > .item{
          padding: calc(var(--gap) / 2) var(--gap) !important;

          &:hover{
            color: #009CF0 !important;
            background: var(--link-light-color) !important;
          }
        }
      }

      input {
        padding: 5px 8px;
        border-radius: 4px;
        border: 1px solid var(--border-bottom);
        font-family: var(--font-roboto);
        font-size: 14px;
        line-height: 22px;

        &::placeholder{
          color: var(--placeholder-color);
        }
      }
    }
  }

  .footer-buttons{
    display: flex;
    align-items: center;
    gap:calc(var(--gap)*1.5);

    button{
      margin: 0;
    }

    label{
      font-size: 16px;
    }
  }
}
