.cover{
  background-color: var(--white-color);
  padding:  calc(var(--gap) * 2);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: calc(var(--gap) / 4);
  font-family: var(--font-roboto);

  .header-text{
    font-family: var(--font-inter);
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
  }

    h2{
      color: var(--title-color);
      font-family: var(--font-roboto);
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 4px;
    }

    p{
      font-size: 14px;
      line-height: 22px;
      font-family: var(--font-roboto);
      color: var(--tabs-color);
      margin-bottom: 16px;
    }

  .upload-block{
    display: flex;
    margin: 24px 0 48px;

    .upload-img{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 112px;
      height: 112px;
      border-radius: 50%;
      border: 1px dashed var(--button-color);
      cursor: pointer;

      &:hover{
        background: var(--button-background-hover);
      }


      .token-img{
        width: 96px;
        height: 96px;
        border-radius: 50%;
      }
    }

    .clear-btn{
      cursor: pointer;
    }
  }
}


